<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "genericons/genericons.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Open+Sans:700,400" />

    {{ghost_head}}

    <script type="text/javascript">
      /* * * DISQUS VARIABLES * * */
      var disqus_shortname = '';
    </script>
</head>
<body class="{{body_class}} nav-closed">

    <div id="page" class="hfeed site">

      <div id="sidebar" class="sidebar">
        <header id="masthead" class="site-header" role="banner">
          <div class="site-branding">
            {{#if @blog.logo}}
              <a class="blog-logo" href="{{@blog.url}}" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
            {{/if}}
            <h1 class="site-title{{#if @blog.logo}} hidden{{/if}}"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <p class="site-description">{{@blog.description}}</p>
            <button class="secondary-toggle">Menu and Widgets</button>
          </div>
        </header>

        {{> "sidebar"}}
      </div>

        {{! Everything else gets inserted here }}
        <main id="content" class="site-content">
          {{{body}}}
        </main>

        <footer id="colophon" class="site-footer" role="contentinfo">
          <div class="site-info">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} Conceived by <a href="http://amielucha.com">Amielucha</a></section>
          </div>
        </footer>

    </div><!-- #page -->

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
