{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main id="main" class="site-main" role="main">
    <article class="{{post_class}} hentry {{#if image}}has-post-thumbnail{{/if}}">
        {{#if image}}
        <div class="post-thumbnail">
            <img src="{{image}}" alt="{{title}} cover">
        </div>
        {{/if}}

        <header class="entry-header">
            <h1 class="entry-title">{{title}}</h1>
        </header>

        <section class="entry-content">
            {{content}}
            <div class="share">
                <h3 class="share-title">Share this:</h3>
                <div class="share-content">
                    <a class="genericon genericon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="genericon genericon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="genericon genericon-googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="author-info">
            {{#author}}
            <h2 class="author-heading">Published by</h2>
            <div class="author-avatar">
                {{#if image}}<a href="{{url}}" rel="author"><img class="avatar avatar-56" src="{{image}}" alt="Author image" nopin="nopin" /></a>{{/if}}
            </div><!-- .author-avatar -->
            <div class="author-description">
                <h3 class="author-title">{{name}}</h3>

                <p class="author-bio">
                    {{bio}}<a class="author-link" href="{{url}}" rel="author">
                        View all posts by {{name}}</a>
                </p><!-- .author-bio -->

            </div><!-- .author-description -->
            {{/author}}
        </section>

        <footer class="entry-footer">
            <section class="entry-meta">
                <span class="posted-on"><time class="post-date" title="{{date format='YYYY-MM-DD HH:mm'}}" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY" timeago="true"}}</time></span>
                <span class="byline">
                    {{#author}}
                    <span class="author vcard"><span class="screen-reader-text">Author </span><a class="url fn n" href="{{url}}">{{name}}</a></span>
                    {{/author}}
                </span>
                <span class="tags-links">{{tags prefix=""}}</span>
            </section>
        </footer>
    </article>

    <div id="comments" class="comments-area">
        <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
        <div id="disqus_thread"></div>
    </div>
    <script type="text/javascript">
        /* * * DISQUS * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</main>
{{/post}}
